
.navbar {
    background-color: var(--first-color);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.345);
}

.nav-logo {
    font-weight: 700;
    font-family: var(--font);
    font-size: 25px;
    color: var(--white-color);
    margin: 0 15px;
    position: relative;
}

.nav-items {
    display: flex;
    background-color: var(--first-color);
}

.nav-items a {
    font-weight: 500;
    font-size: 15px;
    color: var(--white-color);
    margin: 0 15px;
}

.nav-toggle {
    display: none;
}

.nav-toggle i {
    color: var(--white-color);
    font-size: 25px;
    font-weight: 700;
}

@media (max-width: 768px) {

    .navbar {
        height: 60px;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top:59px;
        left: 0;
        transform: translateX(-100vw);
        transition: all 0.3s ease;
    }

    .nav-items a {
        font-size: 1.4rem;
        margin: 0;
        padding: 10px 15px;
    }

    .nav-items a:hover {
        background-color: var(--third-color);
    }

    .nav-items.is-open {
        transform: translateX(0vw);
    }

    .nav-toggle {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .nav-toggle span{
        width: 40px;
        height: 6px;
        background-color: white;
        margin-bottom: 7px;
        border-radius: 2px;
        transform-origin: 5px 0;
        transition: all 0.3s ease;
    }

}